<!DOCTYPE html>
<html>
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--bootstrap css-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <title> Tercera entrega </title>
    </head>

    <body>
        <div class="">
            <div class="container">    
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{titulo}}</h1>
                    </div>
                    <div class="col-sm-6">
                        <img src="img/logo-node.png" class="img-fluid img-thumbnail">
                    </div>
                </div>
            </div>
        </div>    

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">            
  <a class="navbar-brand" href="/">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {{#if session}}
        <li class="nav-item active">
          <a class="nav-link" href="/actualizar">Actualizar <span class="sr-only">(current)</span></a>
        </li>  
        {{#compare rol "==" 'Coordinador'}}    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Coordinador
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/crear-curso">Crear curso</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/cursosEstudiantes">Administar cursos y estudiantes</a>
            </div>
          </li>          
        {{/compare}}
        {{#compare rol "==" 'Aspirante'}}  
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Aspirante
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cursos?rol=Aspirante">Listar cursos</a>  
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/mis-cursos">Mis cursos</a>        
              </div>
            </li>
        {{/compare}}
      {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/registro">Registrar <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Interesado
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cursos?rol=interesado">Listar cursos</a>          
          </div>
        </li>
      {{/if}}     
    </ul>
    <ul class="nav justify-content-end"></ul>
    {{#if session}}    
      <form class="form-inline my-2 my-lg-0" action="/salir" method="GET">
          <img src="data:img/png;base64,{{avatar}}" class="img-fluid" height="10%" width="10%">
          <h3 style="color:floralwhite; font-weight: bold">  Usuario: {{nombre}}  </h3>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Salir</button>
      </form>    
      {{else}}
      <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
          <input type="text" class="form-control mr-sm-2" name="usuario" placeholder="Usuario" required>
          <input type="password" class="form-control mr-sm-2" name="contrasena" placeholder="Contraseña" required>
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
      </form>
      {{/if}}
    </ul>    
  </div>
</nav>
            
        