{{>header}}
<div class="container">
    <p>
        {{{titulo}}}
    </p>    
    <form action="/crearCurso" method="POST">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="id">id</label>
                <input type="number" class="form-control" name="id" placeholder="Id del curso" value="{{id}}" required>
            </div>
        </div>  
        <div class="col-8">
            <div class="form-group">
                <label for="nombreCurso">Nombre</label>
                <input type="text" class="form-control" name="nombreCurso" placeholder="Nombre del curso" value="{{nombreCurso}}" required>
            </div>
        </div>    
        <div class="col-8">
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text"  class="form-control" name="descripcion" placeholder="Descripción del curso" value="{{descripcion}}" required>                    
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" name="valor" placeholder="valor del curso" value="{{valor}}" required>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="form-group col-md-6">
                    <label for="modalidad">Modalidad</label>
                        <select class="form-control" id="modalidad" name="modalidad" >
                            <option value="Presencial">Presencial</option>
                            <option value="Virtual">Virtual</option>
                        </select>
                    </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="intensidad">Intensidad horaria</label>
                <input type="number" class="form-control" name="intensidad" placeholder="Intensidad horaria (Número de horas)" value="{{intensidad}}">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" checked disabled class="form-control" name="estado" id="estado" value="Disponible">                
            </div>                
        </div>
       <div class="col-4">
        <button type="submit" class="btn btn-dark">Crear curso</button>
       </div>
       </div> 
    </form>
</div>
{{>footer}}