{{>header}}
<div class="container">
        <p>
            {{titulo}}
        </p>
        <form action="/inscribirCurso" method="POST">
        <label for="cursoId">Inscripción al curso {{cursoId}} - {{curso}}</label>
        <input type="hidden" name="cursoId" id="cursoId" value={{cursoId}}>
        <input type="hidden" name="curso" id="curso" value={{curso}}>
        
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="documento">Documento</label>
                    <input type="number" class="form-control" name="documento" placeholder="Documento" value="{{documento}}" required disabled>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="nombre">Nombre - Usuario</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}" required disabled>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" required disabled>
                </div>
            </div>    
            <div class="col-4">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" name="telefono" placeholder="Teléfono" value="{{telefono}}" required disabled>
                </div>
            </div>
        </div>    
        <button type="submit" class="btn btn-dark">Inscribir</button>
    </form>
</div>
{{>footer}}