{{>header}}
<div class="container">
    </br><p>
        {{titulo}}
    </p>
    <form action="/registro" method="POST">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="documento">Documento</label>
                    <input type="number" class="form-control" name="documento" placeholder="Documento" value="{{documento}}" required>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="nombre">Nombre - Usuario</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}" required>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" required>
                </div>
            </div>    
            <div class="col-4">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" name="telefono" placeholder="Teléfono" value="{{telefono}}" required>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" name="contrasena" placeholder="Contraseña" value="{{contrasena}}" required>
                </div>
            </div>                    
            <div class="col-4">
                <div class="form-group">
                    <div class="form-group col-md-6">
                            <label for="rol">Rol</label>
                            <select class="form-control" id="rol" name="rol" >
                                <option value="Aspirante">Aspirante</option>
                                <option value="Coordinador">Coordinador</option>
                            </select>
                    </div>
                </div>
            </div>                
        </div>
        <button type="submit" class="btn btn-dark">Registrar</button>
    </form>
</div>
{{>footer}}
